<nav class="navigation">
  <div class="navigation-container">
    <a href="/">
      <img src="images/logo.svg" class="logo">
    </a>
    <ul class="navigation-menu">
      <li><a class="scroll-link" href="#about">About</a></li>
      <li><a class="scroll-link" href="#testimonials">Testimonials</a></li>
      <li><a class="scroll-link" href="#pricing">Pricing</a></li>
      <li><a class="scroll-link" href="#contact">Contact</a></li>
    </ul>
  </div>
</nav>

