// PAGE HEADER

.affiliate-header {
  background-color: $grey-lighter;
  @include background-size(cover);
  @include rem(padding, 20px);
  position: relative;
  width: 100%;
  z-index: 1;

  @include media($tablet) { height: 1100px; }

  h2, h3, p { color: $black-base;  }
  h3 { font-weight:  $light; }

  p { font-size: $s-big;
      line-height: $base-line-loose;
  }
}

.affiliate-header{
  @include rem(padding, 20px 0);

  .header-text{
    @include rem(padding, 40px 20px);
    @include horizontal-center;
    max-width: 750px;
    text-align: left;

    @include media($tablet){
      @include rem(margin-top, $desktop-nav-height * 1);
    }
  }
}
