// Site Navigation Styles
// ========================================
$mobile-nav-height: 58px;
$desktop-nav-height: 83px;

.navigation {

  &.active{
    background-color: rgba(50, 50, 50, 0.7);
  }

  .navigation-container{
    @include rem(padding, 15px 20px);
    position: relative;
    text-align: center;
    width: 100%;
  }
}


/*-----------------------
Logo
-----------------------*/
.logo{
  width: 140px;
  @include media($tablet) {
    float: left;
    width: 170px;
    z-index: 99999;
  }
}

/*-----------------------
Primary Nav
-----------------------*/
.navigation{
  @include position(fixed, 0 null null null);
  @include transition(all 0.3s ease-in-out);

  width: 100%;
  z-index: 9999;

  .navigation-menu{
    text-align: right;
    float: right;
    @include mobile-hide;
  }

  li {
    display: inline-block;
    @include rem(margin, 0 0 0 15px);
    text-transform: uppercase;
    vertical-align: -webkit-baseline-middle;

    a{
      color: $white-base;
      font-weight: $bold;
      @include s-small;
      letter-spacing: 1px;
    }
  }
}

