---
title: Recipeasy
---

<header class="page-header">
  <div class="header-text">
    <h1>Cross 'Create an E-Book' off your to-do list</h1>
    <a href="#intro" id="ga-get-started" class="button-primary scroll-link">
      Let's Go
    </a>
  </div>
</header>

<section class="intro-container" id="intro">
  <img src="images/sample-book.png">
  <div class="intro-text">
    <h2>Recipeasy designs E-Books for Food Bloggers</h2>
    <ol>
      <li>Send us a note and we’ll contact you for a quick chat.</li>
      <li>Choose your recipes and one of our layouts.</li>
      <li>Go pour yourself a glass of wine and relax.</li>
    </ol>
    <a href="mailto:recipeasybooks@gmail.com" id="ga-contact-us-1" class="button-primary">
      Contact Us
    </a>
  </div>
</section>

<section class="about-blocks" id="about">
  <div class="text-block">
    <div class="text-block-content">
      <h2>Food for thought</h2>
      <p>Have you been wanting to create an E-Book for some time now? Let us guess, you may have even tried to create one yourself. Maybe with Photoshop, Keynote, or Word? Ugh, the struggle is real. Even with templates, it’s hard to know where to start. More importantly, you don’t have the time to think about the whole e-book design. That’s why we are here to help.</p>
      <p>Our dedicated design professionals help you create perfect E-Books to be used on your site. We specialize in the “sign-up-for-my-email-list-and-get-my-free-ebook” kind of E-Book. Quick. Fresh. And easy. It’s Recipeasy.</p>
    </div>
  </div>
  <div class="image-block"></div>
</section>

<section class="testimonial-container" id="testimonials">
  <h2 class="centered-header">Our customers think we are a healthy serving of awesomeness!</h2>
  <div class="testimonial-block"></div>
  <blockquote>Recipeasy is exactly what I was looking for. Not only did they put together a gorgeous, visually dynamic e-cookbook for me, they really showed a wide range of creativity and genuine enthusiasm throughout the process. If you want to create an e-cookbook, Recipeasy is the ultimate solution!"</blockquote>
  <cite>
    <div class="cite-block">
      <img src="images/meghan.jpg" class="headshot">
      <p>Meghan<br><i>Cake n' Knife</i></p>
    </div>
  </cite>
</section>

<section class="about-blocks pricing-blocks" id="pricing">
  <div class="image-block"></div>
  <div class="text-block">
    <div class="text-block-content">
      <h2>Simple Pricing</h2>
      <h4>$59 <span>/ Setup + $1 per recipe</span></h4>
      <ul>
        <li>Choice of portrait or landscape layout</li>
        <li>Cover, Table of Contents, and an About page</li>
        <li>Full control of content (recipes, order, etc.)</li>
        <li>Your brand’s logo, colors, and fonts</li>
        <li>One revision on content to meet your tastes</li>
      </ul>
    </div>
  </div>
</section>

<section class="contact-container" id="contact">
  <h2 class="centered-header">Let’s get this dinner party started</h2>
  <p>Contact us to schedule a quick call. Email <a href="mailto:recipeasybooks@gmail.com">recipeasybooks@gmail.com.</a></p>
  <a href="mailto:recipeasybooks@gmail.com" id="ga-contact-us-2" class="button-primary">
    Contact Us
  </a>
</section>

<div style="display: none;">
  <form action="https://formspree.io/recipeasybooks@gmail.com" method="POST">
    <input type="text" name="name" placholder="First and last name">
    <input type="email" name="email" placholder="Email address">
    <input type="text" name="blog_name" placeholder="Name of your blog">
    <input type="textarea" name="message" placeholder="Any comments or questions you have">
    <input type="submit" value="Send">
  </form>
</div>
